
<!-- intro -->
<section class="intro pt-100 mb-50">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <p class="orange-text">Nova Vector <span class="black-text">is cutting EDGE technology provider
                    <br>for the business solutions of the future.</span></p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <img src="{{site.baseurl}}/assets/img/about/intro1.png" class="img-fluid" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
            <p class="grey-text">It enables device connectivity via industry standard IoT protocols - MQTT, CoAP and HTTP and supports both cloud and
                on-premises deployments. ThingsBoard combines scalability, fault-tolerance and performance so you will never lose your
                data.</p>
            </div>
        </div>
    </div>
</section>
