
<!-- meeting -->
<section class="meeting p-0 mb-50">
    <div class="container-fluid p-0">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-8 text-left">
                    <img src="{{site.baseurl}}/assets/img/meeting/purple.png" class="img-purple" alt="">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-12 align-self-center">
                    <div class="meeting-text">
                        <p class="meeting-text-p">Let's discuss how
                            <br>Nova Vector can help
                            <br>make your services smarter.</p>
                        <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
                        <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
                        <a class="btn" href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/novavector/30min'});return false;">Set Up a Meeting</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-12 text-right">
                    <img src="{{site.baseurl}}/assets/img/meeting/black.png" class="img-black" alt="">
                </div>
    </div>
    </div>
</section>
