
<!-- use-cases -->
<section class="use-cases pt-150 mb-50">
    <div class="container">
    <div class="row">
        <div class="col-xl-12 text-center mb-40">
            <div class="section-title usecase-title">
                <h2>Use Cases</h2>
                <p>Here are some of the use cases of the Nova Vector Industry 4.0 Platform.</p>
            <br>
            </div>
        </div>
        </div>
        <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-6 col-6 mb-50 ">
            <div class="usecase-box-new">
                <div class="usecase-img-new">
                    <img src="{{site.baseurl}}/assets/img/service/smart-agriculture.png" class="img-fluid" alt="">
                </div>
                <div class="usecase-content-new">
                    <div class="card-title-new">
                        <h5>Smart Agriculture</h5>
                    </div>
                    <div class="card-text">
                        <p>Lorem ipsum dolor sit amet,
                            consectetur adipiscing </p>
                    </div>
                    <a href="{{site.baseurl}}/services/internet_of_things" class="btn">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-6 mb-50 ">
            <div class="usecase-box-new">
                <div class="usecase-img-new">
                    <img src="{{site.baseurl}}/assets/img/service/smart-industry.png" class="img-fluid" alt="">
                </div>
                <div class="usecase-content-new">
                    <div class="card-title-new">
                        <h5>Smart Industry</h5>
                    </div>
                    <div class="card-text">
                        <p>Lorem ipsum dolor sit amet,
                            consectetur adipiscing </p>
                    </div>
                    <a href="{{site.baseurl}}/services/blockchain_and_smart_contracts" class="btn">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-6 mb-50 ">
            <div class="usecase-box-new">
                <div class="usecase-img-new">
                    <img src="{{site.baseurl}}/assets/img/service/service-providers.png" class="img-fluid" alt="">
                </div>
                <div class="usecase-content-new">
                    <div class="card-title-new">
                        <h5>Service Providers</h5>
                    </div>
                    <div class="card-text">
                        <p>Lorem ipsum dolor sit amet,
                            consectetur adipiscing </p>
                    </div>
                    <a href="{{site.baseurl}}/services/advanced_analytics" class="btn">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-6 mb-50 ">
            <div class="usecase-box-new">
                <div class="usecase-img-new">
                    <img src="{{site.baseurl}}/assets/img/service/smart-retail.png" class="img-fluid" alt="">
                </div>
                <div class="usecase-content-new">
                    <div class="card-title-new">
                        <h5>Smart Retail</h5>
                    </div>
                    <div class="card-text">
                        <p>Lorem ipsum dolor sit amet,
                            consectetur adipiscing </p>
                    </div>
                    <a href="{{site.baseurl}}/services/environment_monitoring" class="btn">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-6 mb-50 ">
            <div class="usecase-box-new">
                <div class="usecase-img-new">
                    <img src="{{site.baseurl}}/assets/img/service/smart-building.png" class="img-fluid" alt="">
                </div>
                <div class="usecase-content-new">
                    <div class="card-title-new">
                        <h5>Smart Building</h5>
                    </div>
                    <div class="card-text">
                        <p>Lorem ipsum dolor sit amet,
                            consectetur adipiscing </p>
                    </div>
                    <a href="{{site.baseurl}}/services/smart_logistics" class="btn">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 col-6 mb-50 ">
            <div class="usecase-box-new">
                <div class="usecase-img-new">
                    <img src="{{site.baseurl}}/assets/img/service/smart-education.png" class="img-fluid" alt="">
                </div>
                <div class="usecase-content-new">
                    <div class="card-title-new">
                        <h5>Education</h5>
                    </div>
                    <div class="card-text">
                        <p>Lorem ipsum dolor sit amet,
                            consectetur adipiscing </p>
                    </div>
                    <a href="{{site.baseurl}}/services/smart_buildings" class="btn">Learn More</a>
                </div>
            </div>
        </div>
        </div>
    <br>
    <br>
</div>
</section>
