
<!-- user-story -->
<!--Bootstrap CSS-->

<!--Fontawesome-->
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

<section class="user-story pt-100 mb-50">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2>User Story</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <br>
            <p class="black-text">Here are some of the use cases of the Nova Vector Industry 4.0 Platform.</p>
            </div>
        </div>
        </div>

    <!-- Container for the image gallery -->
    <div class="container-fluid">
        <div class="container-box">
            <!-- Tabs navs -->
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link active" id="nav-agriculture-tab" data-bs-toggle="tab" data-bs-target="#nav-agriculture" type="button" role="tab" aria-controls="nav-agriculture" aria-selected="true">
                                                Smart <br>Agriculture
                                            </button>
                    <button class="nav-link" id="nav-industry-tab" data-bs-toggle="tab" data-bs-target="#nav-industry" type="button" role="tab" aria-controls="nav-industry" aria-selected="false">
                                                Smart <br>Industry
                                            </button>
                    <button class="nav-link" id="nav-providers-tab" data-bs-toggle="tab" data-bs-target="#nav-providers" type="button" role="tab" aria-controls="nav-providers" aria-selected="false">
                                                Service <br>Providers
                                            </button>
                    <button class="nav-link" id="nav-retail-tab" data-bs-toggle="tab" data-bs-target="#nav-retail" type="button" role="tab" aria-controls="nav-retail" aria-selected="true">
                                                Smart <br>Retail
                                            </button>
                    <button class="nav-link" id="nav-building-tab" data-bs-toggle="tab" data-bs-target="#nav-building" type="button" role="tab" aria-controls="nav-building" aria-selected="false">
                                                Smart <br>Building
                                            </button>
                    <button class="nav-link" id="nav-education-tab" data-bs-toggle="tab" data-bs-target="#nav-education" type="button" role="tab" aria-controls="nav-education" aria-selected="false">
                                                Education
                                            </button>
                </div>
              </nav>
              <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-agriculture" role="tabpanel" aria-labelledby="nav-agriculture-tab" style="background-image:url({{site.baseurl}}/assets/img/clients/overlay.png)">
                        <div class="row">
                            <div class="col-xl-12">
                                    <h3>Smart <br> agriculture</h3>
                                    <p>Nova Vector is cutting EDGE technology provider for the  business solutions of the future.
                                        We integrate your existing systems with advanced technologies and help you move your business forward.</p>
                                    <a href="#" class="btn">Learn More</a>
                            </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-industry" role="tabpanel" aria-labelledby="nav-industry-tab" style="background-image:url({{site.baseurl}}/assets/img/clients/overlay.png)">
                        <div class="row">
                            <div class="col-xl-12">
                                    <h3>Smart <br> industry</h3>
                                    <p>Nova Vector is cutting EDGE technology provider for the  business solutions of the future.
                                        We integrate your existing systems with advanced technologies and help you move your business forward.</p>
                                    <a href="#" class="btn">Learn More</a>
                            </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-providers" role="tabpanel" aria-labelledby="nav-providers-tab" style="background-image:url({{site.baseurl}}/assets/img/clients/overlay.png)">
                        <div class="row">
                            <div class="col-xl-12">
                                    <h3>Service <br> providers</h3>
                                    <p>Nova Vector is cutting EDGE technology provider for the  business solutions of the future.
                                        We integrate your existing systems with advanced technologies and help you move your business forward.</p>
                                    <a href="#" class="btn">Learn More</a>
                            </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-retail" role="tabpanel" aria-labelledby="nav-retail-tab" style="background-image:url({{site.baseurl}}/assets/img/clients/overlay.png)">
                        <div class="row">
                            <div class="col-xl-12">
                                    <h3>Smart <br> retail</h3>
                                    <p>Nova Vector is cutting EDGE technology provider for the  business solutions of the future.
                                        We integrate your existing systems with advanced technologies and help you move your business forward.</p>
                                    <a href="#" class="btn">Learn More</a>
                            </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-building" role="tabpanel" aria-labelledby="nav-building-tab" style="background-image:url({{site.baseurl}}/assets/img/clients/overlay.png)">
                        <div class="row">
                            <div class="col-xl-12">
                                    <h3>Smart <br> building</h3>
                                    <p>Nova Vector is cutting EDGE technology provider for the  business solutions of the future.
                                        We integrate your existing systems with advanced technologies and help you move your business forward.</p>
                                    <a href="#" class="btn">Learn More</a>
                            </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-education" role="tabpanel" aria-labelledby="nav-education-tab" style="background-image:url({{site.baseurl}}/assets/img/clients/overlay.png)">
                        <div class="row">
                            <div class="col-xl-12">
                                    <h3>Education</h3>
                                    <p>Nova Vector is cutting EDGE technology provider for the  business solutions of the future.
                                        We integrate your existing systems with advanced technologies and help you move your business forward.</p>
                                    <a href="#" class="btn">Learn More</a>
                            </div>
                    </div>
                </div>
              </div>

        </div>
    </div>
</section>
